
mixin post(data)
    .post
        h2= data.header
        img(src=data.image)
        p.text= data.text
        p.description
            span.data= data.date
            span.time= data.time

mixin top_news(data)
    .top_news
        h2= data.header
        p.text= data.text
        button
            | Скрыть
            br
            | уведомление